

/* HEADER 
---------------------------------------------------------------------------------------------------------------------------------------------------
*/


#header { 
	margin: 0; 
	width: 900px; 
	background: #036EB4 url(header.jpg) no-repeat center top;  
	height: 160px; 
	color: #FFF; 
       float: center;
}

#header .f_search { float: right; padding: 70px 50px 0 0; }
#header .title {	padding: 45px 0 0 50px; }
#header h1 {
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-size: 22px; font-weight: bold;
		margin: 0;
		padding: 0; 
}

#header h2 {
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-size: 12px; 
		background-image: none;
		color: #075181;
		margin: 0;
		padding: 0 0 0 2px;
}


/* SUBHEADER 
---------------------------------------------------------------------------------------------------------------------------------------------------*/
#subheader { 
	background: #000 repeat-y center;
	width: 1070px;
	height: 35px;
	color: #FFF;
	margin-left: 0px;
	
}
#subheader .padding { padding: 10px 15px 10px 15px; }
#subheader h2 { color: #FEAB06; }
#subheader a {color: #FECF5F; }




